{{extend 'layout.html'}}


<br><br><br>
<div class="container">
	<div class="row">
		<div class="col-md-12">
		<center><img src="https://raw.githubusercontent.com/ModernPGP/icons/master/keys/icon-fingerprint.png"></center>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
		<hr style="    border: none;
    border-top: 1px solid #b7bbc2;
    position: relative;
    top: 10px;
    z-index: -1;
    margin-top: 20px;">
    	<center><h3> Baixe a versão mais atual do módulo biométrico para o seu computador!</h3></center>
		<br>
		<center><input style="border-radius: 3px;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.4), inset 0px 1px rgba(255, 255, 255, 0.2);
    padding: 14px 20px;
    font-size: 18px;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
    text-shadow: 0px -1px 1px rgba(0, 0, 0, 0.3);
    -webkit-transition: background-color ease .2s, box-shadow ease .2s;
    -moz-transition: background-color ease .2s, box-shadow ease .2s;
    transition: background-color ease .2s, box-shadow ease .2s;"class="btn btn-primary" type="button" value="Donwload"></center>
		</div>
	</div>
</div>