.navbar-inverse {
  background-image: -webkit-linear-gradient(top,#FFFFFF 0,#FFF 100%);
  background-image: -o-linear-gradient(top,#3c3c3c 0,#222 100%);
  background-image: -webkit-gradient(linear,left top,left bottom,from(#FFFFFF),to(#FFF));
  background-image: linear-gradient(to bottom,#FFFFFF 0,#FFF 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff3c3c3c', endColorstr='#ff222222', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  background-repeat: repeat-x;
}

.navbar-inverse .navbar-toggle {
  border-color: #DADADA;
}

 #web2py-logo {
  color: rgba(0, 0, 0, 0.53);
}

#web2py-logo:hover {
  color: #3498db
}

.navbar-nav .open .dropdown-menu {
  background-color: white;
}


.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.open>a {
  background-image: -webkit-linear-gradient(top,#080808 0,#0f0f0f 100%);
  background-image: -o-linear-gradient(top,#080808 0,#0f0f0f 100%);
  background-image: -webkit-gradient(linear,left top,left bottom,from(#080808),to(#0f0f0f));
  background-image: linear-gradient(to bottom,#FFFFFF 0,#FFFFFF 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff080808', endColorstr='#ff0f0f0f', GradientType=0);
  background-repeat: repeat-x;
  -webkit-box-shadow: inset 0 3px 9px rgba(0,0,0,.25);
  box-shadow: inset 0 3px 9px rgba(0, 0, 0, 0);
}

.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover {
  color: #3498db;
  background-color: rgba(255, 255, 255, 1);
}

.navbar-inverse .navbar-nav .open .dropdown-menu>li>a {
  color: #337ab7;
}     

.navbar-inverse .navbar-nav .open .dropdown-menu .divider {
  background-color: rgba(8, 8, 8, 0.21);
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
  border-color: rgba(105, 105, 105, 0.89);
}



#closeflash{
  float: right;
  margin-top: -10px;
}


.navbar-inverse .navbar-brand:focus, .navbar-inverse .navbar-brand:hover {
  color: #3498db;
  background-color: transparent;
}